# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Configuracion del mail en la carpeta Services
src/Services/Email/emailService.js


# Logs
logs/
*.log
npm-debug.log*

# Sistema Operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
